.gist-it-php div {
   padding: 0;
   margin: 0;
}

.gist-it-php .gist-gutter, .gist-it-php .gist-file {
   font-family: Consolas, "Liberation Mono", Courier, monospace;
   font-size: 12px;
   line-height: 21px !important;
}

.gist-it-php .gist-gutter {
   float: left;
   color: #6a737d;
   text-align: center;
   width: 65px;
   margin-right: 10px;
   border-right: 1px solid #dedede;
}

.gist-it-php .gist-file {
   border: 1px solid #dedede;
   margin-bottom: 1em;
}

.gist-it-php .gist-file .gist-meta {
   background-color: #f2f2f2;
   color: #666;
   font-family: Helvetica, arial, freesans, clean, sans-serif;
   font-size: 14px;
   overflow: hidden;
   padding: 0.5em;
}

.gist-it-php .gist-meta a {
   color: #369;
   font-size: 14px;
}

.gist-it-php .gist-file .gist-meta a:visited {
   color: #737;
}

.gist-it-php .raw-link {
   float: right;
   /** avoid conflicts with host page */
   color: #369 !important;
}

.gist-it-php .blob-link {
   float: left;
   margin-left: 8px;
}

.gist-it-php .blob-link a{
   /** avoid conflicts with host page */
   color: #666 !important;
   text-decoration: none !important;
   font-size: 12px !important;
}

.gist-it-php .gist-file .gist-data {
   background-color: #fbfbfb;
   border-bottom: 1px solid #ddd;
   font-size: 100%;
   overflow: auto;
   word-wrap: normal;
}

.gist-it-php .gist-file .gist-data pre {
   background: none repeat scroll 0 0 transparent !important;
   border: medium none !important;
   font-family: Consolas, "Liberation Mono", Courier, monospace;
   margin: 0 !important;
   padding: 0 !important;
}
